{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="content">
        <p>HH GB — один из самых крупных сайтов по поиску работы и сотрудников в мире (по данным рейтинга Superweb).
            Мы создаем передовые технологии на всех доступных платформах для того, чтобы работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.
            Наши мобильные приложения стабильно занимают первые места в категории «Бизнес» на всех платформах.
            Наш поиск использует искусственный интеллект, а сайт обрабатывает до 3000 запросов в секунду.
            Каждый месяц на сайте появляется более полумиллиона вакансий, а технологии для работы с персоналом насчитывают более 30 позиций.
            Ежедневно мы помогаем сотням тысяч человек изменить свою жизнь к лучшему.
        </p>

        <p>
            1. На действия каждого пользователя портала распространяются условия «Оферты». <br>

            2. Вакансии и Резюме размещаются в Базе данных «Вакансии резюме сайта Rabota.ru» (далее — База данных) и могут визуализироваться на страницах сайта (далее — Сайт) в полном объеме или частично в зависимости от выбранных пользователями программных возможностей Базы данных. <br>

            3. База данных, включая ее программное обеспечение, по функциональным и техническим возможностям не предназначена для размещения, распространения и/или получения доступа к рекламной информации в информационно-телекоммуникационной сети «Интернет»; обработка данных по критериям, связанным с рекламой (товарные знаки, знаки обслуживания и др.) не производится.<br>

            4. Любые иллюстрирующие и текстовые материалы (описания, фотографии Соискателя, товарные знаки Компании и/или клиентов Компании, иные иллюстрации) размещаются Пользователями в Базе данных с целью раскрытия полной информации о Соискателе, или о вакансиях Компании, о самой Компании и ее НR бренде.<br>
            Для целей настоящих Правил под Компанией понимается юридическое лицо или индивидуальный предприниматель, имеющий на Сайте статус «Прямой работодатель» или «Кадровое агентство», размещающий в Базе данных вакансии компании с целью поиска сотрудников в эту компанию, вакансии сторонних компаний от своего имени, а также резюме сторонних соискателей от своего имени.
            Для целей настоящих Правил под HR брендом Компании понимается влияющие на оценку Компании Соискателями комплекс ценностных характеристик Компании, набор преимуществ экономической, психологической, профессиональной направленности, которые может получить соискатель, принятый на работу в Компанию, совокупность представлений, мнений, ассоциаций, эмоций о Компании, раскрывающие привлекательность Компании как работодателя.
            Запрещается размещение иллюстрирующих материалов, преследующих цели привлечения внимания, формирования или поддержания интереса к бренду Пользователя, реализуемым Пользователем товарам или услугам, иным объектам рекламирования по смыслу ст. 3 Федерального закона от 13.06.2006 г. № 38-ФЗ «О рекламе», а также любых иных элементов рекламного характера. <br>

            5. Администрация сервиса не несет ответственности за содержание размещенных в Базе данных вакансий, резюме и иллюстрирующих материалов, а также за регулирование трудовых отношений между работодателем и работником.
        </p>
    </div>
{% endblock %}
