{% extends 'companyapp/base.html' %}

{% block content %}
    <div class="row d-flex align-items-start mb-5">
        <div class="nav flex-column nav-pills me-3 col-3">
            <a class="btn nav-link" href="{% url 'companies:card_edit' %}">Главная</a>
            <a class="btn nav-link" href="{% url 'companies:company_vacancies' %}">Вакансии</a>
            <a class="btn nav-link active" href="{% url 'companies:news' %}">Новости компании</a>
            <a class="btn nav-link" href="{% url 'companies:profile_security' %}">Безопасность</a>
            <a class="btn nav-link" href="{% url 'companies:reviews' %}">Отзывы о компании</a>
            <a class="btn nav-link" href="{% url 'companies:message_list' %}">Сообщения</a>
        </div>
        <div class="tab-content col-8">
            Уверены, что хотите удалить новость <strong>{{ object.title }}</strong>?
            <form action="{% url 'companies:news_delete' object.pk %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary my-3" id="btnSubmit">Удалить</button>
                    <a class="btn btn-outline-secondary my-3" href="{% url 'companies:news' %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
