<div class="nav flex-column nav-pills me-3 col-3">
    <a class="btn nav-link" href="{% url 'users:profile_main' %}" id="menuMain">Главная</a>
    <a class="btn nav-link" href="{% url 'users:profile_contacts' %}" id="menuContacts">Профиль</a>
    <a class="btn nav-link" href="{% url 'users:profile_edu' %}" id="menuEdu">Образование</a>
    <a class="btn nav-link" href="{% url 'users:profile_job' %}" id="menuJob">Работа</a>
    <a class="btn nav-link" href="{% url 'users:profile_security' %}" id="menuSecurity">Безопасность</a>
    <a class="btn nav-link" href="{% url 'users:profile_resume' %}" id="menuResume">Мои резюме</a>
    <a class="btn nav-link" href="{% url 'users:message_list' %}" id="menuMessages">Сообщения</a>
</div>
