{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="content">
        {% include 'userapp/inc_header.html' %}

        <div class="row d-flex align-items-start">
            {% include 'userapp/inc_menu.html' %}
            <div class="tab-content col-8">
                <form action="{% url 'userapp:profile_main' %}" method="post" enctype="multipart/form-data" id="profile_form">
                    {% csrf_token %}

                    {{ form.non_fields.errors }}
                    <div class="mb-3">
                        {{ form.last_name.label }}
                        {{ form.last_name.errors }}
                        {{ form.last_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.first_name.label }}
                        {{ form.first_name.errors }}
                        {{ form.first_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.middle_name.label }}
                        {{ form.middle_name.errors }}
                        {{ form.middle_name }}
                    </div>

                    <div class="mb-3">
                        {{ form.birth_date.label }}
                        {{ form.birth_date.errors }}
                        {{ form.birth_date }}
                    </div>

                    <div class="mb-3">
                        {{ form.phone_num.label }}
                        {{ form.phone_num.errors }}
                        {{ form.phone_num }}
                    </div>

                    <div class="mb-2">
                        {{ form.gender.label }}
                        {{ form.gender.errors }}
                        {{ form.gender }}
                    </div>

                    <div class="mb-2">
                        {{ form.soft_skills.label }}
                        {{ form.soft_skills.errors }}
                        {{ form.soft_skills }}
                    </div>

                    <div class="mb-2">
                        {{ form.hard_skills.label }}
                        {{ form.hard_skills.errors }}
                        {{ form.hard_skills }}
                    </div>

                    <div class="mb-2">
                        {{ form.comments.label }}
                        {{ form.comments.errors }}
                        {{ form.comments }}
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary my-5" id="btnSubmit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        'use strict';

        window.addEventListener('load', function () {
            let menuItems = document.querySelectorAll('.nav > a.nav-link');
            for (let i = 0; i < menuItems.length; i++) {
                menuItems[i].classList.remove('active');
            }

            let menuItem = document.getElementById('menuMain');
            menuItem.classList.toggle('active')
        });
    </script>
{% endblock %}
