{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="content">
        {% include 'userapp/inc_header.html' %}

        <div class="row d-flex align-items-start">
            {% include 'userapp/inc_menu.html' %}

            <div class="tab-content col-8">
                <form action="{% url 'userapp:profile_security' %}" method="post" enctype="multipart/form-data" id="security_form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="prev_password" class="form-label">Старый пароль</label>
                        <input type="password" class="form-control" name="prev_password" id="prev_password">
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" name="new_password" id="new_password">
                    </div>

                    <div class="mb-3">
                        <label for="repeat_password" class="form-label">Повторите новый пароль</label>
                        <input type="password" class="form-control" name="repeat_password" id="repeat_password">
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary my-5" id="btnSubmit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        'use strict';

        window.addEventListener('load', function () {
            let menuItems = document.querySelectorAll('.nav > a.nav-link');
            for (let i = 0; i < menuItems.length; i++) {
                menuItems[i].classList.remove('active');
            }

            let menuItem = document.getElementById('menuSecurity');
            menuItem.classList.toggle('active')
        });

        let submitButton = document.getElementById('btnSubmit');
        submitButton.addEventListener('click', function(event) {
            let prevPassword = document.getElementById('prev_password').value;
            let newPassword = document.getElementById('new_password').value;
            let repeatPassword = document.getElementById('repeat_password').value;

            event.preventDefault();

            if (newPassword && prevPassword == '') {
                alert('Не указан старый пароль!');
            };

            if (newPassword === repeatPassword) {
                document.forms['security_form'].submit();
            }
            else {
                alert('Введенные пароли не совпадают!');
            }
        });
    </script>
{% endblock %}
