{% extends 'mainapp/base.html' %}


{% block content %}
    <div class="content">
        {% include 'userapp/inc_header.html' %}

        <div class="container">
            <div class="row d-flex align-items-start mb-5">
                <div class="col-8 mb-5">
                    <form action="{% url 'users:reply_message' message_id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
<!--                        <input type="text" name="prev_page" id="prev_page" value="{{ prev_page }}" hidden >-->
                        <h3>{{ title }}</h3>

                        {{ form.non_field.errors }}
                        <div class="mb-3">
                            {{ form.text.label }}
                            {{ form.text.errors }}
                            {{ form.text }}
                        </div>

                        <button type="submit" class="btn btn-primary">Ok</button>
                        <a class="btn btn-secondary" href="{% url 'users:message_list' %}">Отмена</a>
                    </form>
                </div>
            </div>
        </div>

        <script>
        'use strict';

        window.addEventListener('load', function () {
            let menuItems = document.querySelectorAll('.nav > a.nav-link');
            for (let i = 0; i < menuItems.length; i++) {
                menuItems[i].classList.remove('active');
            }

            let menuItem = document.getElementById('menuMessage');
            menuItem.classList.toggle('active')
        });
    </script>
{% endblock %}
